// Specific CSS for your home-page

.carousel-inner{
  display: flex;
  justify-content: flex-start;
  height: 700px;
}

.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flexii{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.intro{
  font-family: 'Euphoria Script', cursive;
  font-weight: 600;
  font-size: 30px;
  color: rgb(69, 22, 28);
}
.card-product {
  overflow: hidden;
  height: 250px;
  background: rgb(241, 225, 225);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }


body {
  background: #d1cbd4;
    background-image: linear-gradient( to left, #ffe5ef,#c07e7e);
    background-attachment: fixed;
    background-size: cover;

    }

  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(241, 222, 222, 0.9);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;


  }



  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

  }

  #container .product-details h1{
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: #344055;
    margin: 0;

  }

  #container .product-details h2:before{
    position: absolute;
    content: '';
    right: 0%;
    top: 0%;
    transform: translate(25px, -15px);
    font-family: 'Bree Serif', serif;
    display: inline-block;
    background: #ffe6e6;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: white;
    margin: 0;
    animation: chan-sh 6s ease infinite;

  }






  .hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
  }


  #container .product-details > p {
  font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;

  }
  .control{
    position: absolute;
    bottom: 20%;
    left: 22.8%;

  }
  .btn {

    transform: translateY(0px);
    transition: 0.3s linear;
    background:  #809fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;

  }

  .btn:hover{transform: translateY(-6px);
    background: #1a66ff;}

  .btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin:0;

  }
  .btn .price, .shopping-cart{
    background: #333;
    border: 0;
    margin: 0;
  }

  .btn .price {
    transform: translateX(-10%); padding-right: 15px;
  }

  .btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .btn .buy {z-index: 3; font-weight: bolder;}

  .btn:hover .price {transform: translateX(-110%);}

  .btn:hover .shopping-cart {transform: translateX(0%);}



  .product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    // float: right;
    width: 45%;
    display: inline-block;
  }

  #container img {width: 100%;height: 100%;}

  .info {
      background: rgba(27, 26, 26, 0.9);
      font-family: 'Bree Serif', serif;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      position: absolute;
      line-height: 1.8;
      text-align: left;
      font-size: 105%;
      cursor: no-drop;
      color: #FFF;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
  }

  .info h2 {text-align: center}
  .product-image:hover .info{transform: translateX(0);}

  .info ul li{transition: 0.3s ease;}
  .info ul li:hover{transform: translateX(50px) scale(1.3);}

  .product-image:hover img {transition: all 0.3s ease-out;}
  .product-image:hover img {transform: scale(1.2, 1.2);}
