<div class="footer">
  <div class="footer-texts">
    <h4>Contact Us</h4>
        <h6><i class="fa-solid fa-square-phone"></i> 5256 3105 - 5902 7262</h6>
        <h6><i class="fa-solid fa-envelope"></i> info@frambocusevents.me</h6>
        <h6><i class="fa-solid fa-envelope"></i> f.rambocusevents@gmail.com</h6>
        <h6><i class="fa-solid fa-location-dot"></i> La Caverne No.2, Vacoas, Mauritius</h6>
  </div>
  <div class="footer-links">
    <h5>Follow us<h5>
    <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    <p> Copyright Reserved 2023 @F.Rambocus Events Ltd </p>
  </div>
</div>
