<%= render 'shared/navbar' %>

<div class="container-fluid">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1679512268/events/flamingo_mx3h2g.jpg" class="h-30" />
    <div class="card-trip-infos">
      <div>
        <h4>Contact Us</h4>
        <h6><a href="tel:+23052563105"><i class="fa-solid fa-square-phone"></i> 5256 3105</a></h6>
        <h6><a href="tel:+23059027262"><i class="fa-solid fa-square-phone"></i> 5902 7262</a></h6>
        <h6><a href="mailto:info@frambocusevents.me"><i class="fa-solid fa-envelope"></i> info@frambocusevents.me</a></h6>
        <h6><a href="mailto:f.rambocusevents@gmail.com"><i class="fa-solid fa-envelope"></i> f.rambocusevents@gmail.com</a></h6>
        <h6><i class="fa-solid fa-location-dot"></i> La Caverne No.2, Vacoas, Mauritius</h6>
        <div>
        <a class="btn btn-success" href="https://goo.gl/maps/5DS87KJ6per6eYx58" role="button">Google Map Direction</a>
        </div>
        <br>
        <div class="social">
        <p>Follow us</p>
        <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%= render 'shared/footer' %>
