<div class="container">

  <div class="card-trip">
    <img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t39.30808-6/303515578_5454992604568729_3930154492577528822_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_ohc=LzQXFQr8_YQAX8OY7fQ&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfDfCgwIv5jVEJZjEKDvl4yWbsX0dTjJdot0DByndGt6Ug&oe=637680ED" />
    <div class="card-trip-infos">
      <div>
        <h4>Contact Us</h4>
        <h6><i class="fa-solid fa-square-phone"></i> 52563105 - 5902762</h6>
        <h6><i class="fa-solid fa-location-dot"></i> La Caverne No.2, Vacoas, Mauritius</h6>
        <p>Follow us</p>
        <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</div>
