<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t1.6435-9/182029555_3987199168014754_2463518891318501511_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=EKxFrsc-nbEAX_fZEoz&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfA4wwXKoG3klk5V-EBMAw8iJaZiTmm18oF5Dt62JfATWA&oe=63987897" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Gallery", gallery_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rental", rental_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact Us", contact_path, class: "nav-link" %>
          </li>
          <div class="nav-links">
          <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
          </div>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="container">

	<div class="feature">
		<figure class="featured-item image-holder r-3-2 transition"></figure>
	</div>

	<div class="gallery-wrapper">
		<div class="gallery">
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 active transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
				<div class="item-wrapper">
					<figure class="gallery-item image-holder r-3-2 transition"></figure>
				</div>
		</div>
	</div>

	<div class="controls">
		<button class="move-btn left">&larr;</button>
		<button class="move-btn right">&rarr;</button>
	</div>

</div>
