<%= render 'shared/navbar' %>

<div class="container">
  <div class="text d-flex border-bottom py-1 my-3">
    <h3>View Our Offers</h3>
  </div>
  <div class="gallery">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/garden_advamb.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677092920/events/vampire_ulpgak.jpg" alt="Image 2">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090674/events/sofa_g5qyip.jpg" alt="Image 3">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090669/events/bedi_gqvtxb.jpg" alt="Image 4">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090669/events/beach1_essnxd.jpg" alt="Image 5">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/simple_wgrpz7.jpg" alt="Image 6">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/green_uquoyd.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/violet_up1bxu.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/lascar_zkgmt5.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/arab_mkwyht.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/flamingo_mx3h2g.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/razak_drhqlx.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/sofa_g5qyip.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/fix_foe8oq.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/pool_i8neqx.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/nikah_nfhgcn.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/bedi_gqvtxb.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/ganesh_m0dnhy.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/valley_sx6fmv.jpg" alt="Image 1">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/beach_phe0us.jpg" alt="Image 1">

  </div>

  <div class="modal">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090669/events/bedi1_cf5da6.jpg" alt="" id="modal-image">
    <button id="close-btn">&times;</button>
  </div>
</div>
<br>
<%= render 'shared/footer' %>
