<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="card d-flex py-2 my-3">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/sous_plat_rvhdfw.jpg" alt="Card Image">
    </div>
    <div class="card-text">
      <h2>Gold plateholder</h2>
    </div>
  </div>
  <div class="card d-flex py-2 my-3">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/table_iqmm9x.jpg" alt="Card Image">
    </div>
    <div class="card-text">
      <h2>Table</h2>
    </div>
  </div>
  <div class="card d-flex py-2 my-3">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/glass_dvjkft.jpg" alt="Card Image">
    </div>
    <div class="card-text">
      <h2>Cocktail Glass</h2>
    </div>
  </div>
  <div class="card d-flex py-2 my-3">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/cutelry_cvgf67.jpg" alt="Card Image">
    </div>
    <div class="card-text">
      <h2>Golden Cutlery</h2>
    </div>
  </div>
  <div class="card d-flex py-2 my-3">
    <div class="card-image">
      <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090675/events/municipality_mchfcv.jpg" alt="Card Image">
    </div>
    <div class="card-text">
      <h2>Chapiteau transparent</h2>
    </div>
  </div>
</div>


<br>
<%= render 'shared/footer' %>
