.footer {
  background-color: #e4d5b7;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-texts {
  text-align: start;
  margin-bottom: 20px;
}

.footer-texts h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-texts h6 {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 20px;
}

.footer-links h5 {
  font-size: 20px;
  margin-right: 10px;
}

.footer-links a {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.footer-links a:hover {
  color: #ddd;
}

.footer-copyright {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20%;
  }

  .footer-texts {
    margin-bottom: 0;
  }

  .footer-links {
    margin-bottom: 0;
  }

  .footer-links h5 {
    margin-right: 20px;
  }

  .footer-links a {
    font-size: 30px;
    margin-right: 20px;
  }

  .footer-copyright {
    margin-top: 20px;
  }
}
