.footer {
  background: #2b0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: (230,199,194);
}
.footer-links {
  display: flex;
  align-items: center;
  color:antiquewhite
}
.footer-links a {
  color: #eae0e0;
  opacity: 0.90;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: rgb(185, 13, 42);
  opacity: 1;
}
.footer-texts {
  color: #eae0e0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.footer-copyright {
  color:#eae0e0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
